<div class="flex">
  <span id="cgu">
    <p>CGV - CGU</p>
    <p>Mentions légales</p>
  </span>
  <span class="spacer"></span>
  <span id="repo">
    <p>
      <a href="https://gitlab.com/Boiethios/mc-project-web-client">Repository</a>
    </p>
  </span>
  <span class="spacer"></span>
  <span id="social">
    <p>Réseaux sociaux</p>
  </span>
</div>
