<div class="flex-button">
  <div class="button">
    <button mat-button class="big">» Jouer «</button>
  </div>
  <div class="button">
    <button mat-button class="big">» Voter «</button>
  </div>
</div>

<div class="flex-list">
  <app-news class="list"></app-news>
  <app-promos class="list"></app-promos>
</div>
