.flex-button, .flex-list {
    display: flex;
    flex-flow: wrap;
}

.button, .list {
    margin: 1%;
}

.button {
    flex-grow: 1;

    text-align: center;
}

.list {
    flex-grow: 1;
    flex-basis: 45%;

    border: 1px solid gray;
    max-width: 98%;
}

@media screen and (min-width: 80em) {
    .list {
        max-width: 49%;
    }
}

.big {
    font-size: 200%;
    padding: 1.5em;
    background: orange;
}