<mat-toolbar>
  <button mat-button>
    <mat-icon class="example-icon">home</mat-icon>
  </button>
  <button mat-button>Boutique</button>
  <button mat-button>Forum</button>
  <button mat-button [matMenuTriggerFor]="plus">Plus</button>
  <mat-menu #plus="matMenu">
    <button mat-menu-item>Wiki</button>
    <button mat-menu-item>Classement</button>
    <button mat-menu-item>Règles</button>
    <button mat-menu-item>Suggestions</button>
  </mat-menu>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="compte">Compte</button>
  <mat-menu #compte="matMenu">
    <button mat-menu-item>Connexion</button>
    <button mat-menu-item>Inscription</button>
  </mat-menu>
</mat-toolbar>
