<mat-list>
  <h2 mat-subheader class="header">News</h2>
  <mat-list-item class="lines" *ngFor="let article of articles">
    <h3 mat-line>{{article.title}}</h3>
    <p mat-line> {{article.content}} </p>
  </mat-list-item>
</mat-list>
