@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    padding-bottom: 5rem;
}